.testimonials { //testimonials page
  span.testimonial-client {
    font-size: 80%;
  }
  blockquote {
    font-style: normal;
  }
  .easy_testimonials_grid .easy_testimonials_grid_row .easy_testimonials_grid_cell {
    margin-bottom: 0px;
  }
  .easy_t_single_testimonial {
    padding: 5px;
    margin: 10px 0px;
    background-color: #eaeaea;
  }
  .testimonial_author {
    margin-bottom: 0px;
  }

}
